<?xml version="1.0" encoding="utf-8"?>
<DefaultValues>
  <EditTabs>
    <Tab Name="eLog.Base.Warehouse.PhysicalInventory.PhiHeadEditTab">
      <Field Name="EditGroup1.phitype" Type="Int" Value="1" />
    </Tab>
    <Tab Name="eLog.Base.Warehouse.StockTran.ReceivingReqEditTab">
      <Field Name="EditGroup1.reqtype" Type="Int" Value="1" />
    </Tab>
    <Tab Name="eLog.Base.Masters.Item.ItemEditTab">
      <Field Name="EditGroup1.releasedate" Type="Date" Value="19000101" />
    </Tab>
    <Tab Name="eLog.Base.Project.ProjTaskEditTab">
      <Field Name="EditGroup1.prio" Type="Int" Value="30" />
      <Field Name="EditGroup1.taskstat" Type="Int" Value="10" />
    </Tab>
    <Tab Name="eLog.Base.WSInterface.WSCountryBL">
      <Field Name="Country.eutype" Type="Int" Value="0" />
    </Tab>
    <Tab Name="eLog.Base.Masters.Partner.PartnerEditTab">
      <Field Name="EditGroup1.cmpcodes" Type="Str" Value="*" />
      <Field Name="EditGroup1.type" Type="Int" Value="4" />
      <Field Name="EditGroup2.countryid" Type="Str" Value="HU" />
      <Field Name="EditGroup2.type" Type="Int" Value="3" />
      <Field Name="group_cmp_1.cm_0001_curid" Type="Str" Value="HUF" />
      <Field Name="group_cmp_1.cm_0001_selprcincdiscnttype" Type="Int" Value="1" />
      <Field Name="group_cmp_1.cm_0001_posttype" Type="Int" Value="1" />
    </Tab>
    <Tab Name="eLog.Base.WSInterface.WSPartnerBL">
      <Field Name="Partner.type" Type="Int" Value="8" />
      <Field Name="PartnCmp.selprcincdiscnttype" Type="Int" Value="1" />
      <Field Name="PartnCmp.posttype" Type="Int" Value="1" />
      <Field Name="PartnCmp.curid" Type="Str" Value="HUF" />
    </Tab>
    <Tab Name="eLog.Base.Setup.Warehouse.WarehouseEditTab">
      <Field Name="EditGroup1.backordertype" Type="Int" Value="3" />
      <Field Name="EditGroup1.loctype" Type="Int" Value="0" />
      <Field Name="EditGroup1.storemtype" Type="Int" Value="0" />
      <Field Name="EditGroup1.pickmtype" Type="Int" Value="0" />
    </Tab>
    <Tab Name="eLog.Base.Setup.Tax.TaxEditTab">
      <Field Name="EditGroup1.vistypeall" Type="Bool" Value="true" />
    </Tab>
    <Tab Name="eLog.Base.Sales.Sinv.SinvNCorEditTab">
      <Field Name="EditGroup1.sncdate" Type="Date" Value="+0D" />
    </Tab>
    <Tab Name="eLog.Finance.Base.PettyCash.PettyCashEditTab">
      <Field Name="EditGroup1.advopentype" Type="Int" Value="1" />
      <Field Name="EditGroup1.advexptype" Type="Int" Value="1" />
    </Tab>
    <Tab Name="eLog.Base.Purchase.Pinv.PinvHeadEditTab">
      <Field Name="EditGroup1.curid" Type="Str" Value="HUF" />
    </Tab>
    <Tab Name="eLog.Base.ServiceSvc.ServiceWorksheet.SvcWorksheetHeadEditTab">
      <Field Name="EditGroup1.curid" Type="Str" Value="HUF" />
    </Tab>
	 <Tab Name="eLog.HeavyTools.Warehouse.WhLocPrio.OlcWhLocPrioEditTab">
		<Field Name="EditGroup1.enddate" Type="Date" Value="+1M" />
		<Field Name="EditGroup1.startdate" Type="Date" Value="+0D" />
	</Tab>
    <!--<Tab Name ="eLog.Base.Warehouse.StockTran.IssuingLineEditTab#elmcodes">
            <Field Name="el2" Type="Str" Value="K99999" />
        </Tab>-->
    <Tab Name="eLog.Base.Purchase.Pinv.PinvAssignOtherEditTab">
      <Field Name="EditGroup1.costtypeid" Type="Str" Value="BAR" />
    </Tab>
  </EditTabs>
  <Filters>
    <Filter Name="eLog.Base.Setup.Currency.CurRateInlineEditTab">
      <Field Name="fromratedate" Type="Date" Value="-1M" />
    </Filter>
    <Filter Name="eLog.Base.Sales.Sinv.SinvHeadSearchTab">
      <Field Name="sinvdatefrom" Type="Date" Value="-1M" />
      <Field Name="sinvdateto" Type="Date" Value="+1D" />
      <Field Name="sinvstat" Type="Str" Value="10,100" />
    </Filter>
    <Filter Name="eLog.Base.Sales.Sinv.SinvHeadSearchTab#import">
      <Field Name="importfields" Type="Int" Value="1" />
      <Field Name="cmpid" Type="Int" Value="$sessioncompanyid" />
    </Filter>
    <Filter Name="eLog.Base.Purchase.Pinv.PinvHeadSearchTab">
      <Field Name="pinvdatefrom" Type="Date" Value="-3M" />
      <Field Name="pinvdateto" Type="Date" Value="+1D" />
    </Filter>
    <Filter Name="CodaInt.Base.Purchase.Pinv.PinvHeadSearchTab2">
      <Field Name="pinvdatefrom" Type="Date" Value="-3M" />
      <Field Name="pinvdateto" Type="Date" Value="+1D" />
    </Filter>
    <Filter Name="eLog.Base.Masters.Cost.CostPrcSearchTab" />
    <Filter Name="eLog.Base.Masters.Cost.CostPrcSearchTab#import">
      <Field Name="enddate" Type="Date" Value="20991231" />
      <Field Name="importfields" Type="Int" Value="10" />
    </Filter>
    <Filter Name="eLog.Base.Masters.Item.ItemSearchTab">
      <Field Name="delstat" Type="Int" Value="0" />
    </Filter>
    <Filter Name="eLog.Base.Warehouse.StockLot.StockLotMovementTab">
      <Field Name="datefrom" Type="Date" Value="-1M" />
      <Field Name="dateto" Type="Date" Value="+0D" />
    </Filter>
    <Filter Name="eLog.Base.Sales.Sord.SordHeadSearchTab">
      <Field Name="datefrom" Type="Date" Value="-1M" />
      <Field Name="dateto" Type="Date" Value="+1D" />
    </Filter>
    <Filter Name="eLog.Base.Sales.Sord.SordLineAllSearchTab">
      <Field Name="sorddatefrom" Type="Date" Value="-1M" />
      <Field Name="sorddateto" Type="Date" Value="+1D" />
      <Field Name="reqdatefrom" Type="Date" Value="-1M" />
      <Field Name="reqdateto" Type="Date" Value="+1D" />
      <Field Name="movablefilter" Type="Int" Value="2" />
      <Field Name="sordstat" Type="Int" Value="40" />
      <Field Name="sordlinestat" Type="Int" Value="10" />
      <Field Name="pendingst" Type="Int" Value="0" />
    </Filter>
    <Filter Name="eLog.Base.Warehouse.StockTran.IssuingReturnTab_receiving">
      <!-- A bevet datumanak az eredeti kivet datumat kinalja fel -->
      <!--<Field Name="stdate" Type="Date" Value="19500101" />-->
      <Field Name="stdate" Type="Date" Value="+0D" />
    </Filter>
    <Filter Name="CodaInt.Base.Masters.Partner.PartnerCODAPostCustomTab">
      <Field Name="partncode" Type="Str" Value="%" />
      <Field Name="cmpid" Type="Int" Value="$sessioncompanyid" />
      <Field Name="postaction" Type="Str" Value="3" />
      <Field Name="limit" Type="Int" Value="100" />
    </Filter>
    <Filter Name="eLog.Base.OtherTran.OthTrHeadSearchTab">
      <Field Name="othtrdatefrom" Type="Date" Value="-1M" />
      <Field Name="othtrdateto" Type="Date" Value="+1D" />
    </Filter>
    <Filter Name="eLog.Base.Manufacture.ProdPlan.ProdPlanTab">
      <Field Name="decnum" Type="Int" Value="0" />
      <Field Name="rowcount" Type="Int" Value="200" />
    </Filter>
    <Filter Name="eLog.Base.Setup.NAV.NAVLogSearchTab">
      <Field Name="reqdatefrom" Type="Date" Value="-1W" />
      <Field Name="reqdateto" Type="Date" Value="+1D" />
    </Filter>
    <Filter Name="eLog.Base.Purchase.Pinv.PinvCostApprovalSearchTab">
      <Field Name="usrid" Type="Int" Value="$userid" />
      <Field Name="pinvheadappronly" Type="Bool" Value="true" />
    </Filter>
    <Filter Name="eLog.Finance.Base.PettyCash.PcTran.PcTranHeadSearchTab">
      <Field Name="fromdate" Type="Date" Value="+0D" />
    </Filter>
    <Filter Name="U4Ext.Bank.Base.Bookkeeping.BankPost.BankDocPostSearchTab">
      <Field Name="srctype" Type="Str" Value="205,206,207,208,209,210,211,212" />
    </Filter>
    <Filter Name="eLog.Finance.Coda.PettyCash.PcTranPayByCreditCard.PcTranPayByCreditCardSearchTab">
      <Field Name="finpaymid" Type="Str" Value="BK" />
    </Filter>
    <Filter Name="U4Ext.Bank.Base.Transaction.EfxBankTranHeadSearchTab">
      <Field Name="banktranstat" Type="Str" Value="10,40,70" />
    </Filter>
    <Filter Name="U4Ext.Bank.Base.Transaction.EfxBankTranLineSearchTab">
      <Field Name="accresult" Type="Str" Value="0" />
      <Field Name="dh_docstat" Type="Str" Value="10,50" />
    </Filter>
    <Filter Name="CodaInt.Base.ElementReplace.OfcElmReplHeadSearchTab">
      <Field Name="replstat" Type="Str" Value="10,29,30,49,50,69,79,80,89,90,95" />
    </Filter>
	  <Filter Name="eLog.HeavyTools.Warehouse.WhLocPrio.OlcWhLocPrioSearchTab">
		  <Field Name="startdate" Type="Date" Value="+0D" />
		  <Field Name="enddate" Type="Date" Value="+0D" />
	  </Filter>
  </Filters>
</DefaultValues>