<?xml version="1.0"?>
<LogChanges>
  <Table Name="cfw_group" />
  <Table Name="cfw_right" />
  <Table Name="cfw_user" />
  <Table Name="cfw_usergroup" />
  <Table Name="cfw_savedrepparams" />

  <Table Name="ols_company" />
  <Table Name="ols_bomline" />
  <Table Name="ols_bomversion" />
  <Table Name="ols_employee" />
  <Table Name="ols_itemgroup" />
  <Table Name="ols_item" />
  <Table Name="ols_tax" />
  <Table Name="ols_taxcmp" />
  <Table Name="ols_taxtrans" />
  <Table Name="ols_itemchange" />
  <Table Name="ols_itemcmp" />
  <Table Name="ols_itemext" />
  <Table Name="ols_itemprop" />
  <Table Name="ols_itemsup" />
  <Table Name="ols_partner" />
  <Table Name="ols_partnaddr" />
  <Table Name="ols_partnaddrcmp" />
  <Table Name="ols_partnbank" />
  <Table Name="ols_partnbankcmp" />
  <Table Name="ols_partncmp" />
  <Table Name="ols_partncred" />
  <Table Name="ols_partnprop" />
  <Table Name="ols_project" />
  <Table Name="ols_projcmp" />
  <Table Name="ols_prccode" />
  <Table Name="ols_prcgroup" />
  <Table Name="ols_prcprior" />
  <Table Name="ols_prcschema" />
  <Table Name="ols_prctable" />
  <Table Name="ols_costgroup" />
  <Table Name="ols_costtype" />
  <Table Name="ols_costprc" />
  <Table Name="ols_prochead" />
  <Table Name="ols_procline" />
  <Table Name="ols_procversion" />
  <Table Name="ols_reserve" />
  <Table Name="ols_rethead" />
  <Table Name="ols_sinvdoc" />
  <Table Name="ols_sinvdocnum" />
  <Table Name="ols_sinvnum" />
  <Table Name="ols_sinvround" />
  <Table Name="ols_stdoc" />
  <Table Name="ols_stnum" />
  <Table Name="ols_stpar" />
  <Table Name="ols_warehouse" />
  <Table Name="ols_sthead" />
  <Table Name="ols_stline" />
  <Table Name="ols_sorddoc" />
  <Table Name="ols_sordhead" />
  <Table Name="ols_sordline" />
  <Table Name="ols_period" />
  <Table Name="ols_othtrdoc" />
  <Table Name="ols_othtrhead" />
  <Table Name="ols_othtrline" />
  <Table Name="ols_porddoc" />
  <Table Name="ols_pordnum" />
  <Table Name="ols_pordhead" />
  <Table Name="ols_pordline" />
  <Table Name="ols_pinvdoc" />
  <Table Name="ols_pinvhead" />
  <Table Name="ols_pinvline" />
  <Table Name="ols_costline" />
  <Table Name="ols_pinvapproval" />
  <Table Name="ols_sinvhead" />
  <Table Name="ols_sinvline" />
  <Table Name="ols_navparam" />
  <Table Name="ols_navregparam" />
  <Table Name="ols_sinvnav" />
  <Table Name="ols_stathead" />
  <Table Name="ols_statline" />
  <Table Name="ols_statext" />
  <Table Name="ols_typehead" />
  <Table Name="ols_typeline" />
  <Table Name="ols_country" />
  <Table Name="ols_currency" />
  <Table Name="ols_curcmp" />
  <Table Name="ols_origin" />
  <Table Name="ols_paycond" />
  <Table Name="ols_paymcmp" />
  <Table Name="ols_paymethod" />
  <Table Name="ols_postcode" />
  <Table Name="ols_unit" />
  <Table Name="ols_syspar" />
  <Table Name="ols_sysval" />
  <Table Name="ols_xcval" />
  <Table Name="ols_usercmp" />
  <Table Name="ols_userstdoc" />
  <Table Name="ols_userwh" />
  <Table Name="rep_stihead" />
  <Table Name="rep_stiline" />
  <Table Name="rep_stilinedoc" />

  <Table Name="ofc_dochead" />
  <Table Name="ofc_docline" />
  <Table Name="ofc_company" />
  <Table Name="ofc_companyline" />
  <Table Name="ofc_custsuppacc" />
  <Table Name="ofc_dochlelm" />
  <Table Name="ofc_drhead" />
  <Table Name="ofc_drline" />
  <Table Name="ofc_drrule" />
  <Table Name="ofc_elmrule" />
  <Table Name="ofc_rule" />
  <Table Name="ofc_othtrlinedoc" />
  <Table Name="ofc_othtrlinedoccmp" />
  <Table Name="ofc_othtrlinedoctrantype" />
  <Table Name="ofc_paymcmp" />

  <Table Name="ofc_drbankline" />
</LogChanges>