<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--<add assembly="NLog.Xml"/>-->
    <!--<add assembly="NLog.WindowsEventLog"/>-->
    <add assembly="ERP4U.Log"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName=".\logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="file-fatal" fileName=".\logs\nlog-fatal-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="file-warn" fileName=".\logs\nlog-warn-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="file-trace" fileName=".\logs\nlog-trace-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="allms" fileName=".\logs\nlog-allms-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${message} ${exception:format=tostring}" />

    <target xsi:type="AuditLogFileTarget" name="AuditFileLog" fileName=".\logs\nlog-audit-${shortdate}.log"
            layout="${longdate}|${requestId}|${level:uppercase=true}|${logger}|${category}|${requestUrl}|${userName}(${clientIpAddress})|${action}|${entityType} - ${entityId}|${message}"/>

    <target xsi:type="ComLogFileTarget" name="ComFileLog" fileName=".\logs\nlog-com-${shortdate}.log"
            layout="${longdate}|${requestId}|${logger}|${requestUrl}|${requestBody}|${responseBody}" />
      
  <!--<target xsi:type="File" name="SecurityLog" fileName="c:\temp\nlog-security-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${userId}|${entityType}|${entityId}"/>-->
  </targets>


  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="AuditLog" minLevel="Trace" writeTo="AuditFileLog" final="true"/>
    <logger name="ComLog" minLevel="Trace" writeTo="ComFileLog" final="true" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" writeTo="allms"/>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" level="Warn" writeTo="file-warn" />
    <logger name="*" level="Trace" writeTo="file-trace" />
    <logger name="*" level="Fatal" writeTo="file-fatal" />

    <!--Write all logs to file and EventLog-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile,EventLog" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="SecurityLog" minLevel="Trace" writeTo="SecurityLog,SecurityLoggerEventLog" final="true"/>-->
  </rules>
</nlog>